#home h3{
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

#home h5{
    text-align: center;
    color: grey;
}

#home .card{
    background-color:#1e2c3d;
    margin-top: 35px;
    width: 100%;
}